<h1>NoticeMailer#sendmail_notice</h1>

<h2>厳重注意・図書を至急返却してください</h2>

<p>
お疲れ様です。FiNC図書館管理者の大谷です。
この度は、FiNC図書館をご利用いただき、まことにありがとうございます。


このメールは、図書返却期限が過ぎているユーザに対して送られるものです。
図書の借りパクは他の図書館使用者に対して迷惑でありますし、社会通念上非常識です。

すみやかに本を返してください。
さもなくばあなたは社会からの制裁を受けることになるでしょう。
私たちは必ず回収します。いかなる手段を使っても。

大谷
</p>
